body {
    background-color: #6cccac;
}
.perro3 {
    width: 600px;
    height: 600px;
}
h1 {
    text-align: center;
    color: white;
    font-size: 4em;
}
p {
    text-align: center;
    color: white;
    font-size: larger;
    font-size: 1em;
}
.boton {
    background-color:white;
    border-radius: 30px;
    font-size: 1em;
    font-weight: bold;
    color: #6cccac;
}
.boton a {
    text-decoration: none;
    color: #6cccac;
}
#columna {
    text-align: center;
}